{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/srcFilm.css') }}"/>
    <script>
        var filmName;
        function search(){
            filmName = document.getElementById("srcBar").value;
            window.location.href = '/srcFilm/{{ filmName }}';
            window.location.replace("/srcFilm/{{filmName}}");
            window.location.replace("/filmView/{{filmName}}");
            window.location.replace("/filmView");
            localStorage.setItem("filmName", document.getElementById("srcBar").value);
            localStorage.setItem("srcFilm", document.getElementById("srcBar").value);
            window.location.replace("/srcFilmResult");
        }
    </script>
{% endblock %}

{% block content %}

<div class="src-container">

    <input type="text" placeholder="Cerca..." id="srcBar" onfocus="if(this.value==this.defaultValue)this.value=''"/>
    <button onclick="search()">Cerca</button>


</div>



    {% block film_info %} {% endblock %}

{% endblock %}